# vi stuff
.*.sw?

# Python stuff
*.pyc

# Data files
*.dat
*.csv

# Emacs temp files
.#*

# OSX Files
.DS_Store

CATKIN_IGNORE
.vscode/c_cpp_properties.json
gazebo_ros/src/set_model_configuration.cpp
